.form {
  width: 100%;
  height: 4vh;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-gap: 2em;
  justify-items: center;
}

.input {
  border: none;
  border-radius: 0;
  height: 80%;
  font-size: 1.0em;
  background-color: #1f1f1f;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  width: 100%;
  height: 80%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2e2e2e;
  border-radius: 10px;
  border: none;
}