.messageBox {
  display: inline-block;
  width: auto;
}

.messageText {
  font-size: 1.5em;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 0.1;
}

.messageText img {
  vertical-align: middle;
}

/* .messageContainer {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 0 5%;
  margin-top: 3px;
} */

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}
