.messageBox {
  /* background: #1A1A1D; */
  border-radius: 20px;
  /* padding: 5px 20px; */
  color: white;
  display: inline-block;
  width: 100%;
  /* margin: 1em; */
  /* padding-top: 2em;
  padding-bottom: 2em; */
}

.messageText {
  width: 100%;
  float: left;
  font-size: 1.5em;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 0.1;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: rgb(201, 201, 201);
}

.colorDark {
  color: #d3d3d3;
}

.backgroundBlue {
  /* background: #1A1A1D; */
}

.backgroundLight {
  /* background: #1A1A1D; */
}
